.section-careers-main{
	background-color:#8968BB;
	color:#CDBFE3;
	text-align: center;
}
.section-careers-main-header{
	color:#FFFFFF;
}
.section-careers-main a{
	text-decoration: none !important;
	color: #87C8FF !important;
}
.section-careers-main a:hover{
	color:#ffffff !important;
}
.panel-group .glyphicon{
	margin-bottom: 0 !important;
	margin-top:5px;
}
.section-careers-positions{
	background-color: #fff;	
}
.h2-careers-positions{
	color:black;
}
.job-title{
	margin-bottom: 5px;
}
.job-detail{
	margin-left:3px;
	margin-right:15px;
}
.panel-title>a:hover{
	color: #7d7d7d !important;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.section-careers-main{
		min-height:65%;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.section-careers-main{
		min-height:65%;
	}
}

/* Small Devices, Tablets -sm*/
@media only screen and (min-width : 768px) {
	.section-careers-main{
		min-height:50%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.section-careers-main{
		min-height:35%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.section-careers-main{
		min-height:35%;
	}
}

.col-input {
	margin-bottom:5px;
}
.btn-add-row{
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn-remove-current, .btn-clear-current{
	margin-right:5px;
}
.btn-float-right{
	float:right;
}
.btn-float-left{
	float:left;
}
#row-new-position{
	display: none;
}
.input-error{
	border:1px solid red;
	border-radius:5px;
}