/*description: CSS which effects all pages*/

/*fonts*/
@font-face{
	font-family: "basic_title_font";
	src: url("../fonts/basictitlefont.ttf") format("truetype");
}
@font-face{
	font-family: "sanford";
	src: url("../fonts/Sanford-0103_demo.ttf") format("truetype");
}
@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url("http://fonts.googleapis.com/css?family=Montserrat");
}
@font-face{
	font-family: 'Poppins', sans-serif;
	src: url("https://fonts.googleapis.com/css?family=Poppins:600");
}

/*Pace*/
section{
	display: none;
}
.vegas-overlay{
	display: none;
}

/*bootstrap overrides*/
.navbar-nav {
	border: none;
	text-transform: uppercase;
	font-size:12px;
}
.navbar{
	background-color:#fff;
}
.navbar-brand {
	text-transform: uppercase;
}
.navbar-toggle{
	background-color:#eee !important;
}
.btn {
	text-transform: uppercase;
	font-size:12px;
}
.icon-bar{
	background-color: #888888 !important;
}
.carousel-caption{
	text-align: center;
	position: initial;
}
.item{
	height:400px;
}
.dropdown-menu > li > a {
	text-transform: none;
	color:#337ab7;
}
.list-group-item, .panel-body{
	color:#6E7574;
}
/*override styling on anchor tag for download text*/
.btn-dl{
	color:white !important;
	text-decoration: none !important;
}
/*body.modal-open {
	overflow: visible !important;
}*/
.modal-body {
	height: 80%;
}
.iframe-forms{
	width: 100%;
	height: 100%;
}
.dropdown:hover{
	cursor: pointer;
}
.dropdown-menu > li:hover{
	cursor: pointer;
}
.nav-spacer{
	position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}

/*Responsiveness*/
@media only screen and (min-width : 300px) {
	.section-main{
		min-height:35%;
		padding-top:3%;
	}
	.section-main-glyphicon{
		margin-bottom:20px;
		margin-top:70px;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.section-main{
		min-height:35%;
		padding-top:3%;
	}
	.section-main-glyphicon{
		margin-bottom:20px;
		margin-top:50px;
	}
}
/* Small Devices, Tablets -sm*/
@media only screen and (min-width : 768px) {
	.section-main{
		min-height:35%;
		padding-top:3%;
	}
	.section-main-glyphicon{
		margin-bottom:20px;
		margin-top:50px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.section-main{
		min-height:35%;
		padding-top:3%;
	}
	.section-main-glyphicon{
		margin-bottom:20px;
		margin-top:50px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.section-main{
		min-height:35%;
		padding-top:3%;
	}
	.section-main-glyphicon{
		margin-bottom:20px;
		margin-top:50px;
	}
}

/*Generic CSS*/
.page-welcome {
	height: 100%;
}
.center {
  bottom: 0; left: 0; top: 0; right: 0;
  margin: auto;
  position: absolute;
  width: 400px;
  height: 400px;
	width:100%;
	text-align: center;
	/*margin:0 auto;
	//the left and right margins are increased until it becomes centered along
	//the y-axix of the viewport
	*/
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 80px;
	background-color: #f5f5f5;
	text-align: center;
}
.footer-text {
	padding-top:1%;
	font-family: Arial;
	font-size:14px;
	font-style: italic;
}
.footer-adjust{
	height:80px;
	width:100%;
}
.font-heavy{
	font-weight: 600;
}
.font-very-heavy{
	font-weight: 800;
}
.img-fill-column{
	width:100%;
}
.img-inline{
	display: inline;
}
.float-right{
	float: right;
}
.float-left{
	float:left;
}
.p-inline{
	display: inline;
}
.h-inline{
	display: inline;
}
.black-shadow{
	text-shadow: 2px 2px #6E7574;
}
.container-fill-width{
	width: 90%;
}
.container-fill-height {
	height:100%;
}
.lihover:hover{
	background-color:#f5f5f5;
}
.section-main-header {
	text-align: center;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}
.section-main{
	font-family: 'Poppins', sans-serif;
}
.section-content{
	font-family: 'Source Sans Pro', sans-serif;
}
.centered {
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	/* bring your own prefixes */
	transform: translate(-50%, -50%) !important;
}