/*fonts*/
@font-face{
	font-family: "basic_title_font";
	src: url("../fonts/basictitlefont.ttf") format("truetype");
}
@font-face{
	font-family: "sanford";
	src: url("../fonts/Sanford-0103_demo.ttf") format("truetype");
}
@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url("http://fonts.googleapis.com/css?family=Montserrat");
}

/*bootstrap overrides*/
.navbar-nav {
	border: none;
	text-transform: uppercase;
	font-size:12px;
}
.navbar{
	background-color:#fff;
}
.navbar-brand {
	text-transform: uppercase;
}
.navbar-toggle{
	background-color:#eee !important;
}
.btn {
	text-transform: uppercase;
	font-size:12px;
}
.icon-bar{
	background-color: #888888 !important;
}
.carousel-caption{
	text-align: center;
	position: initial;
}
.item{
	height:400px;
}
.dropdown-menu > li > a {
	text-transform: none;
	color:#337ab7;
}
.list-group-item, .panel-body{
	color:#6E7574;
}
body.modal-open {
	overflow: visible !important;
}
.modal-body {
	height: 80%;
}
.iframe-forms{
	width: 100%;
	height: 100%;
}


/*Generic CSS*/
.page-welcome {
	height: 100%;
}
.center {
    bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 400px;
    height: 400px;
	width:100%;
	text-align: center;
	/*margin:0 auto;
	//the left and right margins are increased until it becomes centered along
	//the y-axix of the viewport
	*/
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 80px;
	background-color: #f5f5f5;
	text-align: center;
}
.footer-text {
	padding-top:1%;
	font-family: Arial;
	font-size:14px;
	font-style: italic;
}
.footer-adjust{
	background-color: #f5f5f5;
	height:10%;
	width:100%;
}
.font-heavy{
	font-weight: 600;
}
.font-very-heavy{
	font-weight: 800;
}
.img-fill-column{
	width:100%;
}
.img-inline{
	display: inline;
}
.float-right{
	float: right;
}
.float-left{
	float:left;
}
.p-inline{
	display: inline;
}
.h-inline{
	display: inline;
}
.black-shadow{
	text-shadow: 2px 2px #6E7574;
}
.container-fill-width{
	width: 90%;
}
.container-fill-height {
	height:100%;
}
.lihover:hover{
	background-color:#f5f5f5;
}


/*--index.php*/
.welcome-section{
	background-image:url("../images/office_overlay.jpg");
	background-size: cover;
	width: 100%;
    height: 100%;
    color: white;
    position: relative;
    overflow: hidden;
}
.welcome-text{
	font-family: "basic_title_font", Arial;
	font-size:60px;
}
.subtitle{
	font-size:20px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.welcome-carousel{
	position: relative;
	padding-top:3%;
	padding-bottom: 3%;
	background-color: #eeeeee;
	background-size:cover;
}
.item-office{
	background-image:url("../images/land5.jpg");
	background-size:cover;
}
.statement-section{
	padding-top: 6%;
	padding-bottom: 6%;
}
.statement-container{
	text-align: center;

}
.statement-heading{
	font-family: "sanford",georgia,serif;
	font-size:45px;
}
.statement-details{
	font-family: "sanford",georgia,serif;
	font-size:25px;
}

/*services.php*/
.section-services{
	background-color: #26544F;
	width: 100%;
	height:auto;
    color: white;
    position: relative;
    overflow: hidden;
    padding-bottom:10%;
}
.section-services-heading1{
	text-transform: uppercase;
	color:white;
}
.section-services-heading1{
	text-transform: uppercase;
	color:white;
}
.section-services-heading3{
	text-transform: uppercase;
	text-align: center;

}
.section-services-main-heading{
	padding-top:5%;
	text-transform: uppercase;
	color:white;
	font-size:20px;
	text-align:center;
}
.btn-collapse-all{
	float: right;
}
.btn-expand-all{
	float: left;
}
.btn-all-container{
	margin-top:1%;
	margin-bottom: 1%
}

/*meet_the_doctors.php*/
.section-doctors-main{
	background-color: #fff;
	width:100%;
	height:100%;
	padding-top:2%;
}
.section-doctors-main-header{
	text-align: center;
	color:#6E7574;
}
.section-doctors-main-header > h2{
	text-transform: uppercase;
}
.section-doctors-main-img{
	width:100%;
}
.section-doctors-subtitle{
	text-transform: uppercase;
	text-align: center;
}
.section-bob-about{
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #9BBFBB;
	width: 100%;
}
.section-bob-about-header1{
	color:white;
	text-transform: uppercase;
	padding-bottom:2%;
}
.section-bob-about-header2{
	text-transform: uppercase;
	color: white;
}
.section-marie-about{
	padding-top: 3%;
	padding-bottom: 3%;
	width: 100%;
}
.section-marie-about-header1{
	text-transform: uppercase;
	color:#9BBFBB;
	padding-bottom:2%;
}
.section-marie-about-header2{
	text-transform: uppercase;
	color:#9BBFBB;
}
.img-marie{
	padding: 1%;
}
.img-bob{
	padding: 1%;
	display: inline;
}
.list-scott-accomplishments{
	margin-bottom: 0;
}
.scott-panel-body{
	background-color: #d9edf7;
}
.paul-panel-body{
	background-color: #faebcc;
}
.paul-panel-info{
	width:70%;
	display: inline-block;
}
.section-sarah-about{
	padding-top: 3%;
	padding-bottom: 5%;
	width: 100%;
}

/*mission_statement.php*/
.section-statement-main{
	width:100%;
	height:100%;
	padding-top:2%;
}
.statement-main-heading{
	text-transform: uppercase;
	text-align: center;
	color: #57C31F;
	/*color: #B9DAA9;*/
}
.statement-block{
	background-color: #337ab7;
	height:250px;
}
.statement-space{
	padding-top:2%;
}

/*contact.php*/
.section-contact-main{
	width:100%;
	height:50%;
	background-image: url("../images/office1.png");
	background-size:cover;
}
.section-contact-main-header1 {
	text-align: center;
	color: white;
	position: relative;
  top: 40%;
  transform: translateY(-50%);
}
.contact-globe{
	margin-bottom:3%;
}
.section-contact-information{
	width: 100%;
	padding: 3% 0 3%;
	background-color: rgba(7,44,57,0.8);
}
/*@media (min-width:1200px){
	.contact-info-heading:after{
		background: url(../images/bg_off.png) repeat;
		content: "";
		height: 5px;
		margin-left: 10px;
		position: absolute;
		top: 12px;
		width: 99%;
		top: 50%;
	}
}
@media (max-width:1199px){
	.contact-info-heading:after{
		background: url(../images/bg_off.png) repeat;
		content: "";
		height: 5px;
		margin-left: 10px;
		position: absolute;
		top: 12px;
		width: 99%;
		top: 40%;
	}
}*/

.contact-info-heading,.contact-address{
	color: rgb(230, 230, 230);
}
.contact-address{
	line-height: 25px;
}
.contact-col{
	overflow: hidden;
}
#googleMap iframe {
	   width: 100%;
	}
#googleMap {
	   height: 350px;
	}
#googleMap img { max-width: none;
}
.contact-maps{
	padding:3% 0 3%;
}
.contact-map-marker{
	padding:1% 0 2%;
	text-align: center;
	font-size: 20px;
	width: 100%;
}
.contact-map-heading{
	text-align: center;
	text-transform: uppercase;
	color: #c5c5c5;
}
.contact-call{
	padding: 3% 0;
	text-align: center;
}
.contact-call-heading-phone{
	text-transform:uppercase;
	color:#c5c5c5;
	font-size:20px;
}
.contact-hours-ul{

}
.contact-hours-li{
	list-style-type: none;
}
.contact-hours-day{
	float:left;
}
.contact-hours-hours{
	float:right;
}
