/*meet_the_doctors.php*/
.section-doctors-main{
	background-color: #CA3636;
	color:#fff;
	width:100%;
	text-align: center;
	margin-bottom: 50px;
}
.section-doctors-main-header{
	text-align: center;
}
.img-doctors-main{
	background-size: contain;
	background-image: url("../images/doctors_smaller_resize.jpg");
	background-repeat: no-repeat;
	height:300px;
}
.section-doctors-subtitle{
	text-transform: uppercase;
	text-align: center;
}
.section-bob-about{
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #9BBFBB;
	width: 100%;
}
.section-bob-about-header1{
	color:white;
	text-transform: uppercase;
	padding-bottom:2%;
}
.section-bob-about-header2{
	text-transform: uppercase;
	color: white;
}
.section-marie-about{
	padding-top: 3%;
	padding-bottom: 3%;
	width: 100%;
}
.section-marie-about-header1{
	text-transform: uppercase;
	color:#9BBFBB;
	padding-bottom:2%;
}
.section-marie-about-header2{
	text-transform: uppercase;
	color:#9BBFBB;
}
.img-marie{
	padding: 1%;
}
.img-bob{
	padding: 1%;
	display: inline;
}
.list-scott-accomplishments{
	margin-bottom: 0;
}
.scott-panel-body{
	background-color: #d9edf7;
}
.paul-panel-body{
	background-color: #faebcc;
}
.paul-panel-info{
	width:70%;
	display: inline-block;
}
.section-sarah-about{
	padding-top: 3%;
	padding-bottom: 5%;
	width: 100%;
}