/*mission_statement.php*/
#mission-statement section{
	color: white;
	background-size: cover;
}
#mission-statement h1{
	color: white;
}
.section-statement-main{
	width:100%;
	background-color: #e6af4b;
	color: white;
	text-align: center;
}
.section-statement-content{
	padding-top:15px;
	text-align: center;
}
.current-statement{
	color:white;
}
.glyphicon small{
	font-size: 18px;
	font-family: sans-serif;
}
.section-statement-content .row h3{
	color: #e6af4b;
}

/*bootstrap overrides*/
.list-group-item{
    border-radius: 5px !important;
}
h3{
	padding-bottom: 15px;
}

/*Responsiveness*/
@media only screen and (max-width : 300px) {
	.col-border_bot {
		border-bottom: 1px solid #ccc;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.col-border_bottom {
		border-bottom: 1px solid #ccc;
	}
}
/* Small Devices, Tablets -sm*/
@media only screen and (max-width : 768px) {
	.col-border_bottom {
		border-bottom: 1px solid #ccc;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.col-border_bottom {
		border-bottom: 1px solid #ccc;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) {
	.col-border_bottom {
		border-bottom: 1px solid #ccc;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.col-border_bottom {
		border-bottom: none;
	}
	.row-border_bottom{
		border-bottom: 1px solid #ccc;
	}	
}
@media only screen and (min-width : 1300px) {
	.col-xs-12 {
		border-bottom: none;
	}
	.row-border_bottom{
		border-bottom: 1px solid #ccc;
	}	
}


/*vegas overrides*/
/*
.vegas-timer{
	top: 0 !important;
}
.vegas-wrapper{
	padding:2% 0px 0px !important;
}

.vegas-control{
	background-color: black;
	opacity: 0.4;
	height:25px;
	text-align: center;
	color:white;
	border:0.5px solid white;
}
.vegas-control:hover{
	cursor: pointer;
	background-color:white;
	color:black;
}
.vegas-control-active{
	background-color:white;
	color:black;
}
#slide-count{
	color:white;
}
*/