/*mission_statement.php*/
#mission-statement section{
	color: white;
	background-size: cover;
}
#mission-statement h1{
	color: white;
}
.section-statement-main{
	height:100%;
	width:100%;
	padding-top:4%;
	background-image: url("../images/statement_bg.png");
	background-size: cover;
	color: white;
	text-align: center;
}
.section-statement-main .row{
	padding-top: 3%;
}
.section-statement-main h3{
	text-transform: uppercase;
}
.bounce{
	-webkit-animation: bounce 2.5s infinite;
  -moz-animation: bounce 2s infinite;
  -ms-animation: bounce 2s infinite;
  animation: bounce 2s infinite;

	transition: background-color 0.2s;
}
.arrow{
  font-size: 26px;
  display: none;
  width: 100%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  position: fixed;
  top: 90%;
}
.arrow-up{
	font-size: 26px;
  display: none;
  width: 100%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  position: fixed;
  top: 10%;
	z-index: 999;
}
.arrow button{
	background-color: transparent;
	border: none;
}
.arrow-up button{
	background-color: transparent;
	border: none;
}
.arrow .glyphicon{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #c5c5c5;
	border-radius: 15%;
	color: #337ab7;
}
.arrow-up .glyphicon{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #c5c5c5;
	border-radius: 5%;
	color: #337ab7;
}
.arrow .glyphicon:hover{
	cursor: pointer;
	background-color: #f5f5f5;
}
.arrow-up .glyphicon:hover{
	cursor: pointer;
	background-color: #f5f5f5;
}
.glyphicon small{
	font-size: 18px;
	font-family: sans-serif;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}
.section-statement-point{
	text-align: left;
	margin-top: 30%;
	line-height: 140%;
}
.section-statement-two{
	background-image: url("../images/mission/skills_dark.jpg");
}
.section-statement-three{
	background-image: url("../images/mission/plan_dark.jpg");
}
.section-statement-three h1{
	width:100%;
	text-align: right;
}
.section-statement-four{
	background-image: url("../images/mission/team_dark.jpg");
}
.section-statement-four h1{
	width:100%;
	text-align: center;
}
.section-statement-five{
	background-image: url("../images/mission/learn_dark.jpg");
}
.section-statement-six{
	background-image: url("../images/mission/develop_dark.jpg");
}
.section-statement-six h1{
	text-align: right;
}
.section-statement-seven{
	background-image: url("../images/mission/teaching_dark.jpg");
}
.section-statement-seven h1{
	text-align: right;
}
.section-statement-eight {
	background-image: url("../images/mission/end.jpg");
}
.section-statement-eight h1{
	text-align: center;
}
