/*mission_statement.php*/
#mission-statement section{
	color: white;
	background-size: cover;
}
#mission-statement h1{
	color: white;
}
.section-statement-main{
	width:100%;
	background-color: #e6af4b;
	color: white;
	text-align: center;
}
.section-statement-content{
	padding-top:15px;
	text-align: center;
}
.current-statement{
	color:white;
}
.glyphicon small{
	font-size: 18px;
	font-family: sans-serif;
}
/*bootstrap overrides*/
.list-group-item{
    margin-top: 10px !important;
    border-radius: 5px !important;
    background-color: #f3f3f3 !important; 
}
.badge{
	float:left !important;
	background-color: #ababab !important;
}

/*vegas overrides*/
/*
.vegas-timer{
	top: 0 !important;
}
.vegas-wrapper{
	padding:2% 0px 0px !important;
}

.vegas-control{
	background-color: black;
	opacity: 0.4;
	height:25px;
	text-align: center;
	color:white;
	border:0.5px solid white;
}
.vegas-control:hover{
	cursor: pointer;
	background-color:white;
	color:black;
}
.vegas-control-active{
	background-color:white;
	color:black;
}
#slide-count{
	color:white;
}
*/