.section-staff-main{
	padding-top: 3%;
	text-align: center;
	width: 100%;
}
.section-staff-main .glypyhicon{
	text-align: center;
	width: 100%;
}
.section-staff-main h3{
	color:#c5c5c5;
	text-align: center;
}
.staff-heading{
	margin-top:3%;
	margin-bottom:3%;
}

.section-staff-photos{
	padding-bottom: 2%;
	text-align: center;
	width: 100%;
}
.img-container{
	border-radius:50%;
	background-size:cover;
	background-repeat: no-repeat;
	height:170px;
	width:100%;
}
.img-container:hover{
	opacity:0.7;
	cursor: pointer;
}
.section-staff-info{
	text-align: center;
	width: 100%;
	display:none;
	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#info-main-heading{
	color:white;
}
#info-img{
	width:200px;
	height:170px;
	border-radius:50%;
	display:none;
	margin: 0 auto;
}
#info-about{
	padding-top:2%;
	color:#525252;
}
#info-sub{
	color:#6F6F6F;
}
legend{
	margin-bottom:0 !important;
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 250px) {
	.img-container{
		height:105px;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.img-container{
		height:170px;
	}
}
/* Small Devices, Tablets -sm*/
@media only screen and (min-width : 768px) {
	.img-container{
		height:170px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.img-container{
		height:170px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.img-container{
		height:170px;
	}
}
