/*photo_gallery.php*/
.gallery-carousel-ind li{
	background-color:black;
}
.section-gallery-main{
	width:100%;
	text-align: center;
	background-color:rgba(45, 177, 193, 0.85);
	color:white;
}
.section-gallery-sort-controls{
	padding-bottom:15px;
	padding-top: 5px;
	text-align: center;
}
.gallery-spacer{
	padding-top:50px;
}
.mix:hover {
	cursor: pointer;
}
#Container-mix .mix{
	display: none;
}
@media only screen and (min-width: 300px) {
	.container-fill-width{
	  	padding-left: 0 !important;
	  	padding-right: 0 !important;
	}
	.mix{
		padding-left:2px !important;
		padding-right:2px !important;
	}
}
@media only screen and (max-width: 620px) {
	.mix-item {
		padding-top: 90%;
	}
	.mix{
		padding-left:2px !important;
		padding-right:2px !important;
	}
}
@media only screen and (min-width: 621px) {
	.mix-item {
		padding-top: 45%;
	}
}
#myModal .modal-content{
	background-color:transparent;
	text-align: center;
	border:0 !important;
	box-shadow: none !important;
	-webkit-box-shadow:none !important;

	background-repeat: no-repeat;
	background-size: contain;
	margin:0 auto;
	display: inline-block;

	z-index:1041 !important;
}
.centered, #myModal .modal-dialog {
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	/* bring your own prefixes */
	transform: translate(-50%, -50%) !important;

}
#myModal .modal-dialog{
	margin: 0 !important;
}
.container-fill-width-100{
	width:100% !important;
	padding:0 !important;
}
.glyphicon-chevron-left, .glyphicon-chevron-right{
	font-size:60px !important;
	color:white !important;
	cursor: pointer;
	top: 50% !important;
	z-index:10000;
}
.glyphicon-chevron-left:hover, .glyphicon-chevron-right:hover{
	color: #ccc !important;
}
.glyphicon-chevron-left {
	float:left;
}
.glyphicon-chevron-right {
	float:right;
}