/*services.php*/
.section-services-main{
	background-color: #3E847C;
	width: 100%;
    color: white;
    text-align: center;
}
.section-services{
	padding-top:20px;
}
.btn-collapse-all{
	float: left;
}
.btn-expand-all{
	float: right;
}
.btn-all-container{
	margin-top:1%;
	margin-bottom: 1%
}
@media (min-width: 992px) {
	.row, .row>.col-lg-4, .row>.col-md-4, .row>.col-lg-6, .row>.col-md-6{
		display: flex;
	}
	.panel{
		align-items: stretch;
	}
}
